nav a:hover {
  border-bottom: 1px solid;
  transition: all 0.3s ease-in-out;
}

.blue-btn:hover {
  background-color: var(--color-light-blue);
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.outline-btn:hover,
.white-btn:hover {
  color: var(--color-blue);
  transition: all 0.3s ease-in-out;
}

footer a:hover {
  text-decoration: underline;
  transition: all 0.3s ease-in-out;
}

.logo {
  padding-top: 0;
  padding-bottom: 0;
}

nav a.logo:hover {
  border-bottom: none;
}

nav a {
  display: inline-block;
  border-bottom: 1px solid transparent;
}

nav ul.d-flex {
  align-items: center;
}

.jumbotron {
  margin-top: 68px;
}

/* .radio {
  display: inline-block;
  height: 20px;
  aspect-ratio: 1/1;
  margin-right: 10px;
  background-color: var(--color-blue);
  border-radius: 50%;
}

.radio-white {
  background-color: white;
  border: 1px solid gray;
} */

input {
  /* display: none; */
}

/* .radio::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  margin-left: 5px;
  margin-top: 5px;

  transition: all 0.3s ease-in-out;
}

label {
  display: flex;
  align-items: center;
} */

.radio {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 30px;
}

.radio + .radio {
  margin-left: 20px;
}

.radio input[type="radio"] {
  display: none;
}

.radio span {
  height: 20px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 2px solid #e2e2e2;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}

.radio span::after {
  content: "";
  height: 10px;
  aspect-ratio: 1/1;
  background-color: white;
  border: 5px solid var(--color-blue);

  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  border-radius: 50%;

  transition: all 0.3s ease-in-out 0s;
}

.radio input[type="radio"]:checked ~ span::after {
  transform: translate(-50%, -50%) scale(1);
}

/* .accordion-content {
  display: none;
  font-weight: 400;
  border-bottom: 1px solid #e2e2e2;
}

.accordion:hover ~ .accordion-content {
  display: block;
} */

.accordion {
  width: 100%;
}

.accordion ul,
.accordion li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.li-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e2e2e2;
}

/* .li-content:hover {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
} */

.accordion li a {
  text-decoration: none;
  color: black;
  display: block;
  padding: 30px 0;
  font-weight: 600;
}

.accordion .accordion-content {
  border-bottom: 1px solid #e2e2e2;
  display: none;
  padding: 30px;
}

.accordion .li-content:hover ~ .accordion-content {
  display: block;
  transition: all 0.3s ease-in-out;
}

.li-content:hover {
  border-bottom: 0px;
}

.accordion .li-content:hover .fa-solid {
  transform: rotate(180deg);
  transition: all 0.3s ease-in-out;
}

.big-square.first {
  /* display: none; */
  /* z-index: 99; */
}

.square.bg-green:hover .big-square.first {
  display: block;
}

.square:hover {
  border: 10px solid rgba(255, 255, 255, 0.182);
  transition: all 0.3s ease-in-out;
}
