nav a:hover {
  border-bottom: 1px solid;
  transition: all 0.3s ease-in-out;
}

.blue-btn:hover {
  background-color: var(--color-light-blue);
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.outline-btn:hover,
.white-btn:hover {
  color: var(--color-blue);
  transition: all 0.3s ease-in-out;
}

footer a:hover {
  text-decoration: underline;
  transition: all 0.3s ease-in-out;
}

.logo {
  padding-top: 0;
  padding-bottom: 0;
}

nav a.logo:hover {
  border-bottom: none;
}

nav a {
  display: inline-block;
  border-bottom: 1px solid transparent;
}

nav ul.d-flex {
  align-items: center;
}

.jumbotron {
  margin-top: 68px;
}

/* .radio {
  display: inline-block;
  height: 20px;
  aspect-ratio: 1/1;
  margin-right: 10px;
  background-color: var(--color-blue);
  border-radius: 50%;
}

.radio-white {
  background-color: white;
  border: 1px solid gray;
} */

input {
  /* display: none; */
}

/* .radio::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  margin-left: 5px;
  margin-top: 5px;

  transition: all 0.3s ease-in-out;
}

label {
  display: flex;
  align-items: center;
} */

.radio {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 30px;
}

.radio + .radio {
  margin-left: 20px;
}

.radio input[type="radio"] {
  display: none;
}

.radio span {
  height: 20px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 2px solid #e2e2e2;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}

.radio span::after {
  content: "";
  height: 10px;
  aspect-ratio: 1/1;
  background-color: white;
  border: 5px solid var(--color-blue);

  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  border-radius: 50%;

  transition: all 0.3s ease-in-out 0s;
}

.radio input[type="radio"]:checked ~ span::after {
  transform: translate(-50%, -50%) scale(1);
}

/* .accordion-content {
  display: none;
  font-weight: 400;
  border-bottom: 1px solid #e2e2e2;
}

.accordion:hover ~ .accordion-content {
  display: block;
} */

.accordion {
  width: 100%;
}

.accordion ul,
.accordion li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.li-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e2e2e2;
}

/* .li-content:hover {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
} */

.accordion li a {
  text-decoration: none;
  color: black;
  display: block;
  padding: 30px 0;
  font-weight: 600;
}

.accordion .accordion-content {
  border-bottom: 1px solid #e2e2e2;
  display: none;
  padding: 30px;
}

.accordion .li-content:hover ~ .accordion-content {
  display: block;
  transition: all 0.3s ease-in-out;
}

.li-content:hover {
  border-bottom: 0px;
}

.accordion .li-content:hover .fa-solid {
  transform: rotate(180deg);
  transition: all 0.3s ease-in-out;
}

.square.bg-green:hover .big-square.first {
  display: block;
}

.square:hover {
  border: 10px solid rgba(255, 255, 255, 0.182);
  transition: all 0.3s ease-in-out;
}

/* GRID */

.item-1 {
  grid-column: 1 / 1;
  grid-row: 1 / 2;
}
.item-2 {
  grid-column: 2 / 2;
  grid-row: 1 / 2;
}

.item-3 {
  grid-column: 1 / 1;
  grid-row: 2 / 2;
}

.item-4 {
  grid-column: 2 / 2;
  grid-row: 2 / 2;
}

.item-xl {
  grid-column: 3 / 3;
  grid-row: 1 / 3;
}

.item-5 {
  grid-column: 4 / 4;
  grid-row: 1 / 2;
}
.item-6 {
  grid-column: 5 / 5;
  grid-row: 1 / 2;
}

.item-7 {
  grid-column: 4 / 4;
  grid-row: 2 / 2;
}

.item-8 {
  grid-column: 5 / 5;
  grid-row: 2 / 2;
}

.container-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.square {
  width: calc(100vw / 6);
}

.big-square-1,
.big-square-2,
.big-square-3,
.big-square-4,
.big-square-5,
.big-square-6,
.big-square-7,
.big-square-8 {
  display: none;
  padding: 40px;
}

.item-1:hover ~ .big-square-default {
  display: block;
  z-index: 3;
  transition: all 0.3s ease-in-out;
  overflow: auto;
}

.item-2:hover ~ .big-square-2 {
  display: block;
  z-index: 3;
  transition: all 0.3s ease-in-out;
  overflow: auto;
}
.item-3:hover ~ .big-square-3 {
  display: block;
  z-index: 3;
  transition: all 0.3s ease-in-out;
  overflow: auto;
}
.item-4:hover ~ .big-square-4 {
  display: block;
  z-index: 3;
  transition: all 0.3s ease-in-out;
  overflow: auto;
}
.item-5:hover ~ .big-square-5 {
  display: block;
  z-index: 3;
  transition: all 0.3s ease-in-out;
  overflow: auto;
}
.item-6:hover ~ .big-square-6 {
  display: block;
  z-index: 3;
  transition: all 0.3s ease-in-out;
  overflow: auto;
}
.item-7:hover ~ .big-square-7 {
  display: block;
  z-index: 3;
  transition: all 0.3s ease-in-out;
  overflow: auto;
}
.item-8:hover ~ .big-square-8 {
  display: block;
  z-index: 3;
  transition: all 0.3s ease-in-out;
  overflow: auto;
}

.item-xl {
  overflow: auto;
  height: calc(100vw / 3);
  transition: all 0.3s ease-in-out;
}

.big-square-default {
  padding: 40px;
}
