* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  font-family: "open sans", sans-serif;
}

:root {
  --color-blue: #0061ff;
  --color-light-blue: #75a9fe;
  --color-cloud: #b4d0e7;
}

.container-l {
  width: 100%;
  max-width: 1260px;
  min-width: 300px;
  margin: 0 auto;
  padding: 0 10px;
}

.container {
  width: 100%;
  max-width: 960px;
  min-width: 300px;
  margin: 0 auto;
  padding: 0 10px;
}

.d-flex {
  display: flex;
}

ul li {
  list-style: none;
}

/* Utilities */

.pb-30 {
  padding-bottom: 30px;
}

.pb-50 {
  padding-bottom: 50px;
}

.py-60 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.mb-30 {
  margin-bottom: 30px;
}

h1 {
  font-size: 4.5rem;
  font-weight: 800;
}

img {
  width: 100%;
}

.color-blue {
  background-color: var(--color-blue);
  color: white;
}

.bg-blue {
  background-color: var(--color-cloud);
}

/* Header */
nav {
  justify-content: space-between;
  padding: 30px 20px;
}

.logo {
  margin-top: -9px;
  margin-right: 30px;
}

nav a {
  text-decoration: none;
  color: unset;
  padding: 10px 15px;
}

nav a:hover {
  text-decoration: underline;
}

.blue-btn {
  background-color: var(--color-blue);
  color: white;
  padding: 10px 15px;
  text-decoration: none;
}

.blue-btn:hover {
  background-color: var(--color-light-blue);
  text-decoration: none;
}

/* Main */

.col {
  width: 30%;
}

.col-l {
  width: 60%;
}

.arrow-down {
  font-size: 4rem;
}

.jumbotron-content {
  position: relative;
  top: 60px;
}
