* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  font-family: "open sans", sans-serif;
}

.container-l {
  width: 100%;
  max-width: 1200px;
  min-width: 300px;
  margin: 0 auto;
  padding: 0 10px;
}

.container {
  width: 100%;
  max-width: 960px;
  min-width: 300px;
  margin: 0 auto;
  padding: 0 10px;
}

.d-flex {
  display: flex;
}

a {
  text-decoration: none;
  color: unset;
}

ul li {
  list-style: none;
}

/* Utilities */

.py-120 {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* Header */
